
#avaaKalenteriButton, #luoUusiKalenteriButton, #ikkunaLuoKalenteriButton, .button {
	-fx-background-color: #93cfeb;
	-fx-border-color: black;
}

#avaaKalenteriButton:hover, #luoUusiKalenteriButton:hover, #ikkunaLuoKalenteriButton:hover, .button:hover  {
	-fx-background-color: #ebdc93; 
} 

#paaIkkuna {
	-fx-background-color: #ebb193;
}

#ylaValikko {
	-fx-background-color: #93cfeb;
}


/*  .text-field {
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-background-radius: 5; 
}*/

.text-area {
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-background-color: white;
}

.choice-box {
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
} 

#paivamaaraAlkaen, #paivamaaraPaattyen {
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-background-color: white;
	-fx-control-inner-background: white;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.button {
	-fx-border-radius: 5;
	-fx-background-radius: 5;
}

#tallennaLenkki, #peruutaLenkki {
	-fx-background-color: #ebb193;
}

#tallennaLenkki:hover, #peruutaLenkki:hover {
	-fx-background-color: #ebdc93;
}

#tulostaTausta {
	-fx-background-color: #ebb193;
}