/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#avaaKalenteriButton, #luoUusiKalenteriButton, #ikkunaLuoKalenteriButton, .button {
	-fx-background-color: #93cfeb;
	-fx-border-color: black;
}

#avaaKalenteriButton:hover, #luoUusiKalenteriButton:hover, #ikkunaLuoKalenteriButton:hover, .button:hover  {
	-fx-background-color: #ebdc93; 
} 

#paaIkkuna {
	-fx-background-color: #ebb193;
}

#ylaValikko {
	-fx-background-color: #93cfeb;
}

/* #kestoArea {
	-fx-control-inner-background: #ebdc93;
} */

.text-field {
	-fx-border-color: black;
	-fx-border-radius: 15;
	-fx-background-radius: 15;
}

.text-area {
	-fx-border-radius: 15;
	-fx-background-radius: 15;
	-fx-background-color: white;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.button {
	-fx-border-radius: 15;
	-fx-background-radius: 15;
}

#tallennaLenkki, #peruutaLenkki {
	-fx-background-color: #ebb193;
}

#tallennaLenkki:hover, #peruutaLenkki:hover {
	-fx-background-color: #ebdc93;
}